* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 990px;
    margin: auto;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.z_header {
    width: 100%;
    background: #f5f5f5;
}

.z_header .container {
    color: #aeaeae;
    position: relative;
}

.z_header a {
    line-height: 35px;
    font-size: 12px;
}

.z_header .shou {
    margin-right: 20px;
}

.z_header .huan {
    font-size: 12px;
    float: left;
    height: 35px;
    margin-right: 35px;
}

.z_header .login {
    margin-right: 30px;
    float: left;
    height: 35px;
    font-size: 12px;
}

.z_header .login:hover {
    color: #0691f9;
}

.z_header .regin:hover {
    color: #0691f9;
}

.z_header .regin {
    margin-right: 30px;
    float: left;
    height: 35px;
    font-size: 12px;
}

.z_header .fr {
    width: 475px;
    float: right;
}

.z_header .fr li {
    float: left;

}

.z_header .fr>li a {

    color: #aeaeae;
    font-size: 12px;

}

.z_header .fr .list {
    padding: 0px 20px 0px 8px;
    margin-left: 14px;
    position: relative;

}

.z_header .fr li:nth-child(1) {
    margin-right: 7px;
}

.z_header .fr .list span {
    width: 8px;
    height: 4px;
    position: absolute;
    top: 16px;
    left: 60px;
    background: url("../img/111.png");
    background-position: -20px -93px;
}

.z_header .fr .list3 {
    padding-left: 10px;
    position: relative;
}

.z_header .fr .list3 p {
    width: 88px;
    box-sizing: border-box;
    padding: 0px 20px 0px 13px;
}

.z_header .fr .list3 span {
    width: 8px;
    height: 4px;
    background: url("../img/111.png");
    background-position: -20px -93px;
    position: absolute;
    left: 80px;
    top: 16px;
}

.z_header .fr .list3 i {
    float: left;
    width: 10px;
    height: 16px;
    margin-top: 10px;
    margin-right: 6px;
    background-position: -74px -89px;

}

.z_header .fr li i {
    background: url("../img/111.png");
}

.z_header .fr .list1 {
    padding-left: 11px;
    padding-right: 8px;
    position: relative;
    z-index: 100;
}

.z_header .fr .list1 i {
    float: left;
    margin-right: 5px;
    margin-top: 11px;
    width: 20px;
    height: 16px;
    background-position: -47px -89px;
}

.z_header .fr .list2 {
    padding: 0px 0px 0px 4px;
}

.z_header .fr .list2 p {
    width: 86px;
    height: 35px;
    padding-left: 20px;
    box-sizing: border-box;
}

.z_header .fr .list2 i {
    display: inline-block;
    width: 12px;
    height: 10px;
    background-position: -2px -91px;
    margin-top: 12px;
    line-height: 35px;

}

.z_header .fr li:hover span {
    transition: all .1s;
    transform: rotate(-180deg);
}

.z_header .fr .list .list-erji {
    width: 76px;
    z-index: 999;
    position: absolute;
    display: none;
    left: -1px;
    top: 33px;
    background: #fff;
}

.z_header .fr .list .list-erji a {
    margin-left: 8px;
    line-height: 28px;
}

.z_header .fr .list .list-erji a {
    width: 100%;
    display: block;
}


.z_header .fr .list:hover {

    border-top: 1px solid #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 34px;
    padding: 0px 19px 0px 7px;
}

.z_header .fr .list:hover .list-erji {
    display: block;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.z_header .fr li a:hover {
    color: #0691f9;
}

.z_header .fr li a em {
    color: orangered;
}

.z_header .fr .list2 p:hover {
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.z_header .fr .list1:hover {
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 7px;
}

.z_header .fr .list3 p:hover {
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.z_header .list2-erji {
    position: absolute;
    display: none;
    width: 990px;
    height: 270px;
    left: -1px;
    top: 35px;
    border: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-top: 0px none;
    padding: 26px 0 28px;
    background: #fff;
    z-index: 999;
}


.top .container {
    height: 100px;
    /* background:#ccc; */
}

.top h1 {
    margin-right: 20px;
}

.top .container .text1p {
    padding-top: 34px;
    position: relative;
    margin-right: 10px;
}

.top .container .text1p dl {
    position: absolute;
    width: 500px;
    height: 20px;
    top: 75px;
    font-size: 14px;
}

.top .container .text1p dl dd {
    float: left;
    margin-right: 10px;
}

.top .container .text1p input {
    width: 408px;
    height: 39px;
    border: 2px solid #0691f9;
    box-sizing: border-box;
    border-right: 0 none;
    padding-left: 40px;
}

.top .container .text1p .oBtn {
    width: 100px;
    height: 39px;
    line-height: 39px;
    text-align: center;
    display: inline-block;
    float: left;
    background: #0691f9;
    color: #fff;
    font-size: 18px;
}

.top .container .text1p em {
    background: url('../img/111.png') -34px -171px;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 46px;
    left: 16px;
}

.logistics {
    padding-top: 34px;
}

.logistics ul li {
    width: 105px;
    height: 30px;
    border: 1px solid #e5e5e5;
    float: left;
    margin-right: 8px;
    margin-top: 4px;
}

.logistics ul li a {
    font-size: 12px;
    color: #000;
    line-height: 30px;
}

.logistics ul li em {
    float: left;
    width: 20px;
    height: 15px;
    margin-left: 12px;
    margin-right: 5px;
    margin-top: 8px;
    background: url("../img/111.png");
    overflow: hidden;
}

.logistics ul li:nth-child(1) em {
    background-position: -94px -89px;
}

.logistics ul li:nth-child(2) em {
    width: 20px;
    height: 18px;
    background-position: -132px 0px;
}

.logistics ul li:last-child em {
    background-position: -1px -141px;
}

.logistics p {
    width: 24px;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    margin-right: 25px;
}



.top .top_footer ul li em {
    width: 31px;
    height: 18px;
    position: absolute;
    background: url("../img/1.png");
    top: -10px;
    right: 18px;
}

.nav {
    width: 100%;
    background: #1369c0;
}

.nav .container {
    height: 40px;

}


.nav .container .nav2-end h3:hover span {
    background-position: -7px -54px;
    transition: all .3s;
}

.nav1 li {
    float: left;
}

.nav1 li a {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    padding: 0px 18px;
}

.nav1 li:hover a {
    background: #0f54b3;
}

.nav .container .nav2-end {
    float: left;
    width: 190px;
    position: relative;
    margin-right: 2px;
}

.nav .container .nav2-end h3 {
    text-align: center;
    background-color: #0f54b3;
    width: 190px;
    height: 40px;
}

.nav .container .nav2-end h3.active {
    background: #2e558d;
}

.nav .container .nav2-end h3 a {
    font-size: 14px;
    line-height: 40px;
    color: #fff;

}

.nav .container .nav2-end h3 span {
    width: 10px;
    height: 6px;
    display: inline-block;
    background: url("../img/jk_20141.png");
    background-position: -7px -48px;
    position: absolute;
    right: 30px;
    top: 17px;
}



.nav2-ul {
    width: 190px;
    border-bottom: 1px solid #0691f9;
    box-sizing: border-box;
    display: none;
    position: absolute;
    z-index: 1000;
    height: 648px;
    background: #fff;
}

.nav2-ul.cont {
    display: block;
}

.nav2-ul>li {
    height: 36px;
    padding-left: 10px;
    line-height: 36px;
    font-size: 12px;
    border: 1px solid #0f54b3;
    border-top: 0;
    border-bottom: 0;
    box-sizing: border-box;
}

.nav2-ul>li:hover {
    border-bottom: 1px solid #0691f9;
    border-right: 0;
    border-top: 1px solid #0691f9;
}

.nav2-ul>li>dl>dt {
    float: left;
    margin-right: 3px;
    color: #0691f9;
}

.nav2-ul>li>dl>dd {
    float: left;
    color: rgb(189, 178, 178);
    margin-right: 7px;
}

.nav2-ul>li .nav2-erji {
    position: absolute;
    z-index: 999;
    left: 190px;
    top: 0px;
    width: 384px;
    height: 648px;
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    z-index: 1000;
    display: none;
}


.nav2-ul>li .nav2-erji dl {
    padding-top: 30px;
    width: 324px;
    float: left;
    padding-bottom: 15px;
}

.nav2-ul>li .nav2-erji .nav2-erjidl1 {
    border-bottom: 1px solid #ccc;

}

.nav2-ul>li .nav2-erji dl dt {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    width: 540px;
    float: left;

}

.nav2-ul>li .nav2-erji dl dd {
    line-height: 24px;
    padding-right: 30px;
    color: rgb(146, 118, 118);
}

.nav2-ul>li .nav2-erji dl dd {
    float: left;
}

.nav2-ul>li .nav2-erji dl img {
    margin-top: 30px;
}

.nav2-ul>li .nav2-erji.actve {
    display: block;
}

.nav2-ul>li.conttt {
    background: #fff;
}

.nav2-ul>li.conttt dl dt {
    color: #000;
}

.nav2-ul>li.conttt dl dd {
    color: #000;
}

.nav2-ul>li:hover dl {
    transition: all .4s;
    transform: translateX(7px);
    line-height: 34px;
}

.main {
    width: 100%;
}

.main .content {
    width: 990px;
    height: 546px;
    border: 1px solid red;
    border-top: 0px;
    margin: auto;
}

.main .content .contTop {
    height: 40px;
    line-height: 40px;

}

.main .content .contTop span {
    font-size: 12px;
}

.main .content .contleft {
    width: 325px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    float: left;
    position: relative;

}

.main .content .contleft .divimg {
    border-bottom: 1px solid #ccc;
    position: relative;
}

.main .content .contleft .divimg .bigimg {
    margin: auto;
    width: 320px;
    height: 320px;
    margin-left: 2px;
}

.main .content .contleft .divimg .imgsrc {
    width: 305px;
    height: 60px;
    margin: 6px 9px 0;
}

.main .content .contleft .divimg .imgsrc img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}



/* 放大镜 */

.main .content .contleft .divimg .big {
    width: 100%;
    height: 320px;
    position: relative;
}

.main .content .contleft .divimg .mask {
    position: absolute;
    width: 100%;
    height: 320px;

    opacity: 0;
    z-index: 2;
    cursor: move;
}

.main .content .contleft .divimg .float_layer {
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
}

.big_box {
    position: absolute;
    left: 330px;
    top: 10px;
    width: 350px;
    height: 350px;
    overflow: hidden;
    display: none;
    z-index: 999;
}

.big_box img {
    position: absolute;
    width: 1000px;
    height: 1000px;
}





.main .content .contleft .ptop {
    font-size: 12px;
    line-height: 20px;
}

.main .content .collect {
    position: absolute;
    display: inline-block;
    width: 91px;
    height: 28px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    margin-top: 11px;
    left: 20px;
}

.contright {
    margin-left: 30px;
    width: 560px;
    float: left;

}

.contright h3 {
    line-height: 32px;
}

.contright .contrightTop {
    border-bottom: 1px dashed #ccc;
}

.contright .details {
    font-size: 12px;
    line-height: 22px;
}

.contright .coupon {
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    color: #e23c3e;
}

.contright .message {
    width: 480px;
    height: 96px;
    background: #eeeeee;
    padding-left: 20px;
    box-sizing: border-box;
}

.contright .message .price {
    line-height: 40px;
    font-size: 14px;

}

.contright .message .duty {
    font-size: 14px;
    line-height: 40px;
}

.contright .product {
    margin-left: 20px;
    line-height: 34px;
    font-size: 12px;
}

.contright .manufacturer {
    margin-left: 20px;
    line-height: 34px;
    font-size: 12px;
}

.contright .purchase {
    margin-left: 20px;
    line-height: 34px;
    font-size: 12px;
    box-sizing: border-box;
}

.contright .purchase #purcha {
    width: 55px;
    height: 30px;
    text-align: center;
}

.contright .purchase p {
    display: inline-block;
    height: 34px;
    width: 30px;
    position: relative;
}

.contright .purchase button {
    width: 30px;
    height: 13px;
    position: absolute;
}

.contright .purchase button:nth-child(1) {
    top: 10px;
}

.contright .purchase button:nth-child(2) {
    top: 30px;
}

.contright .shopping {
    margin-top: 10px;
}

.contright .shopping span {
    display: inline-block;
    width: 168px;
    height: 38px;
    border-radius: 4px;
    line-height: 38px;
    color: #fff;
    text-align: center;
}

.contright .shopping .once {
    background: #e23c3e;
    margin-right: 20px;
    cursor: pointer;
}

.contright .shopping .join {
    background: #1273d1;
    cursor: pointer;
}

.active {
    border: 2px solid #ccc;
}